@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F8F7F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: #F8F7F5;
  width: 100%;
  align-items: center;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.5px solid gainsboro;
}

.desktopNav{
  color:black;
  width: 450px;
  font-weight: 500;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.desktopNav .a{
  cursor: pointer;
}

.desktopNav .btn-primary{
  background-color: var(--color-amber-400);
  text-align: center;
  align-items: center;
  border-radius: 999px;
  height: 2.8rem;
  box-shadow: gray 1px 1px 3px;
}

.pageProvider {
  width: 100%;
}

.pageProvider main{

}

body {
  display: flex;
  flex-flow: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.landingPage{
  display: flex;
  flex-flow: column;
}

.landingPage .HeroContainer{
  display: flex;
  flex-flow: row;
  background-color: #F8F7F5;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 7rem;
  padding-bottom: 4rem;
}

.landingPage .Intro-Section{
  flex-flow: column;
  width:65%;
  margin-right: 20px;
}

.landingPage .Intro-Section .Into-Buttons button{
  margin-top: 30px;
  border-radius: 999px;
}

.landingPage .Intro-Section .Into-Buttons{
  display: flex;
  flex-flow: row;
}

.Into-Buttons .Start-btn
{
  background-color: var(--color-amber-400);
}

.Into-Buttons .Demo-btn
{
  margin-left: 20px;
  background-color: white;
  border: 1px solid gray;
}

.landingPage .DogPhoto-Section{
  flex-flow: row;
  justify-items: center;
  align-items: center;
  width:100%;
}

.HeroContainer .DogPhoto-Section .DogImage{
  background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBxD-zZdhd3LP_24BDQqEFRt46BuVinYFf0iVTrOnXtAehAJN__ITkycVJMCfy3TcRcwIuk5Y-AwkEPcMCd24z2WoK3k2f33vwXzPTrLXpoCvIzJVT5nVv_A_MjgJGwdbXV_M9uXjbJJWFrJgwotCkAfo0IjPnGk1vGixK4888j1u3v1asEB58caIe4_cnWxuDjctDpA-erya2YbMkdXkDe_UKxV4UPRteGTXTPzuKoXnXXzT7GQYwl4ce1jCu6RQN0XwvkmtMnAKyL");
}

.landingPage .ExplanationContainer{
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color: white;
  color:black;
  padding-top: 4rem;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 4rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.divider{
  display: block;
  border-bottom: 0.5px solid gainsboro;
  width: 100%;
  height: 1px;
}

.landingPage .ExplanationContainer .divider{
  margin-top: 40px;
  margin-bottom: 40px;
}

.landingPage .ExplanationContainer .TileSection{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.landingPage .ExplanationContainer .TileSection .ItemCard{
  background-color: #F8F7F5;
  width: 32%;
  height: auto;
  padding: 2rem;
  border-radius: 30px;
  display: flex;
  flex-flow: column;
}

.landingPage .ExplanationContainer .TileSection .ItemCard .Icon{
  border-radius: 100%;
  width: 50px;
  padding: 10px;
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
}

.landingPage .HowItWorks{
  padding-right: 25%;
  padding-left: 25%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (width <= 48rem) 
{
  header{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  header .desktopNav{
    display: none;
  }

  .landingPage .HeroContainer{
    flex-flow: column-reverse;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
  }

  .landingPage .Intro-Section{
    width:100%;
    margin-top: 4rem;
  }
  
  .landingPage .HowItWorks{
    display: flex;
    flex-flow: column;
}

}

@media (width <= 80rem){
  .landingPage .HeroContainer{
    padding-right: 10%;
    padding-left: 10%;
  }
  .landingPage .HowItWorks{
  padding-right: 20%;
  padding-left: 20%;
}

.landingPage .ExplanationContainer .TileSection{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.landingPage .ExplanationContainer .TileSection .ItemCard{
  width: 100%;
  margin-bottom: 3rem;
}

}
